main {
    display: flex;
}

.painting-canvas {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    position: relative;
}

.click-mark {
    width: 10px;
    height: 10px;
    font-size: 14px;
    background-color: greenyellow;
    border-radius: 50%;
    position: absolute;
}

.span {
    color: red;
}